<!-- Array leer -->
<div *ngIf="leer">
  <div class="d-flex justify-content-center">
    <div class="alert alert-warning">
      <p>Es sind noch keine Todos vorhanden. Trage jetzt unter <a [routerLink]="['/add']">Hinzufügen</a> ein neues ein
        oder lade aus den <a [routerLink]="['/settings']">Einstellungen</a> die Beispieldaten.</p>
    </div>
  </div>
</div>

<!-- Array befüllt -->
<div *ngIf="!leer">
  <div class="md-form" *ngIf="searchEnabled">
    <mdb-icon fas icon="search" class="prefix"></mdb-icon>
    <input [(ngModel)]="searchString" name="searchString" mdbInput type="text" id="searchForm" class="form-control">
    <label for="searchForm">Suchen</label>
  </div>

  <div class="tableXScroll">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Fertig</th>
          <th>ID</th>
          <th>Todo</th>
          <th>Fällig am</th>
          <th>Kategorie</th>
          <th>Priorität</th>
          <th *ngIf="delEnabled">Löschen</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let todoItem of todos | todoFilter: searchString | todoListOrdering">
          <td (click)="toggle(todoItem)">
            <i *ngIf="todoItem.done" class="fa fa-check fa-2x" aria-hidden="true"></i>
          </td>
          <td (click)="toggle(todoItem)" [class]="todoItem.done ? 'text-muted' : ''">{{todoItem.id}}</td>
          <td (click)="toggle(todoItem)" [class]="todoItem.done ? 'text-muted' : ''">{{todoItem.label}}</td>
          <td (click)="toggle(todoItem)" [class]="todoItem.done ? 'text-muted' : ''">
            {{todoItem.dueDate | date:'dd.MM.yyyy' }}</td>
          <td (click)="toggle(todoItem)" [class]="todoItem.done ? 'text-muted' : ''">{{todoItem.category.name}}</td>
          <td (click)="toggle(todoItem)" [class]="todoItem.done ? 'text-muted' : ''">{{todoItem.priority.name}}</td>
          <td *ngIf="delEnabled">
            <button (click)="delete(todoItem)" class="btn btn-danger">
              <mdb-icon far icon="trash-alt"></mdb-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <app-todo-statistics></app-todo-statistics>
</div>
