<div class="form-horizontal">
  <fieldset>

    <!-- Header -->
    <legend>Einstellungen</legend>

    <!-- Suchfeld anzeigen -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="searchField">Suche anzeigen</label>
      <div class="material-switch">
        <input id="deleteSearchSwitch" type="checkbox" (click)="toggleSearchField()" [checked]="searchEnabled" />
        <label for="deleteSearchSwitch" class="btn-success"></label>
      </div>
    </div>

    <!-- Löschbar -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="deleteButton">Todos löschbar</label>
      <div class="material-switch">
        <input id="deleteButtonToggleSwitch" type="checkbox" (click)="toggleDelete()" [checked]="delEnabled" />
        <label for="deleteButtonToggleSwitch" class="btn-success"></label>
      </div>
    </div>

    <!-- Fertige Todos unten anzeigen -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="checkedTodos">Fertige Todos unten anzeigen</label>
      <div class="material-switch">
        <input id="checkedTodosToggleSwitch" type="checkbox" (click)="toggleTodoOrdering()"
          [checked]="todoOrderingEnabled" />
        <label for="checkedTodosToggleSwitch" class="btn-success"></label>
      </div>
    </div>

  </fieldset>

  <swal #deleteTodosSwal title="Todos wirklich löschen?" text="Du kannst sie dann nicht mehr ausgraben!" type="warning"
    [showCancelButton]="true" [focusCancel]="true" (confirm)="deleteAll()">
  </swal>

  <swal #loadExampleTodosSwal title="Beispieltodos laden?" text="Deine bisherigen Todos werden überschrieben!"
    type="question" [showCancelButton]="true" [focusCancel]="true" [confirmButtonText]="'Ja'"
    [cancelButtonText]="'Abbrechen'" (confirm)="loadExampleData()"></swal>

  <fieldset>

    <!-- Form Name -->
    <legend>Aktionen</legend>

    <!-- Beispieldaten Laden -->
    <div class="form-group">
      <div class="col-md-4">
        <button *ngIf="todosLeer" id="loadData" name="loadData" class="btn btn-primary"
          (click)="loadExampleData()">Beispieltodos
          laden</button>
        <button *ngIf="!todosLeer" id="loadData" name="loadData" class="btn btn-primary"
          [swal]="loadExampleTodosSwal">Beispieltodos
          laden</button>
      </div>
    </div>

    <!-- Alles löschen -->
    <div class="form-group">
      <div class="col-md-4">
        <!-- <button id="clearTodos" name="clearTodos" class="btn btn-danger" (click)="_clearArray()">Alle Todos
          löschen</button> -->
        <button id="clearTodos" name="clearTodos" class="btn btn-danger" [swal]="deleteTodosSwal">Alle Todos
          löschen</button>
      </div>
    </div>

  </fieldset>

  <hr>

  <!-- Footer -->
  <footer>
    <p>&copy; 2017 - 2019 <a href="https://www.unbekannt3.eu" target="_blank">unbekannt3.eu</a> -
      <mdb-icon fas icon="code"></mdb-icon> is available on GitLab: <a href="https://gitlab.com/unbekannt3/TodoApp"
        target="_blank">https://gitlab.com/unbekannt3/TodoApp</a>
    </p>
  </footer>
</div>
