<div class="btn-group">
  <label class="btn btn-primary waves-light" [ngModel]="currentlySelectedPriority" (click)="select(1)" mdbRadio="Left"
    mdbRippleRadius>
    Normal
  </label>
  <label class="btn btn-warning waves-light" [ngModel]="currentlySelectedPriority" (click)="select(2)" mdbRadio="Middle"
    mdbRippleRadius>
    Wichtig
  </label>
  <label class="btn btn-danger waves-light" [ngModel]="currentlySelectedPriority" (click)="select(3)" mdbRadio="Right"
    mdbRippleRadius>
    Kritisch
  </label>
</div>
