<div class="form-horizontal">
  <fieldset>

    <!-- Header -->
    <legend>Statistiken</legend>
    <div class="col-md-4 col-xs-12">
      <table class="table table-borderd">
        <thead>
          <th>Anzahl Todos</th>
          <th>Fertige Todos</th>
        </thead>
        <tbody>
          <tr>
            <td>{{ todosLength }}</td>
            <td>{{ checkedTodos }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </fieldset>
</div>