<!-- Components -->
<app-navbar></app-navbar>
<main>
  <div class="container">
    <app-message-box></app-message-box>
    <ngx-alerts></ngx-alerts>
    <router-outlet></router-outlet>
  </div>
</main>
