<div class="form-horizontal">
  <fieldset>

    <legend>Eintrag hinzufügen
      <app-priority-chooser class="pull-right" [currentlySelectedPriority]="todo.priority"
        (priorityUpdated)="setPriority($event)"></app-priority-chooser>
    </legend>

    <!-- Label -->
    <div class="form-group" [class.mdb-error]="checklab(todo)">
      <label class="col-md-4 control-label" for="Label">Todo</label>
      <div class="col-md-4">
        <input [(ngModel)]="todo.label" (blur)="labelblur = true" id="Label" name="Label" type="text"
          placeholder="Ich bin ein Todo" class="form-control input-md" required>

      </div>
    </div>

    <!-- Kategorie -->
    <div class="form-group" [class.mdb-error]="checkcat(todo)">
      <label class="col-md-4 control-label">Kategorie</label>
      <div class="col-md-4">
        <select class="form-control" [(ngModel)]="todo.category" (blur)="catblur = true" required>
          <option *ngFor="let cat of categories" [ngValue]="cat">{{ cat.name }}</option>
        </select>
      </div>
    </div>

    <!-- Priorität -->
    <div class="form-group" [class.mdb-error]="checkprio(todo)">
      <label class="col-md-4 control-label">Priorität</label>
      <div class="col-md-4" mdbTooltip="Wähle deine Priorität oben auf der Seite aus" placement="right">
        <select class="form-control" disabled="disabled" [(ngModel)]="todo.priority" (blur)="prioblur = true" required>
          <option *ngFor="let prio of priorities" [ngValue]="prio">{{ prio.name }}</option>
        </select>
      </div>
    </div>

    <!-- Fälligkeit -->
    <div class="form-group">
      <label class="col-md-4 control-label">Fällig am</label>
      <div class="col-md-4">
        <my-date-picker name="mydate" [options]="myDatePickerOptions" [(ngModel)]="datepickObj"></my-date-picker>
      </div>
    </div>

    <!-- Speichern -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="send"></label>
      <div class="col-md-4">
        <button (click)="add()" name="send" class="btn btn-primary">
          <mdb-icon far icon="paper-plane"></mdb-icon> Hinzufügen
        </button>
      </div>
    </div>

  </fieldset>
</div>
